.jumbotron {
    margin-left: 27px;
    height: 240px;
    width: 1115px;
}

.col-lg-12 {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

svg { 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.aliceblue-text p {
    color: aliceblue;
}

.col-md-12 p {
    color: aliceblue;
}

.header {
    font-family: 'Bevan', cursive;
    height: 200px;
    font-size: 70px;
    color:white;
    border-bottom: 4px solid whitesmoke;
    background-color: black;
}


.footer {
    font-size: 17px;
    color:white;
    background-color: black;
    border-top: 4px solid whitesmoke;
}

body {
    background-color: gray;
}